python-dotenv>=0.19.0
openai-whisper
sounddevice
numpy
openai
coqui-tts>=0.25.3  # Changed from TTS to coqui-tts
pydub
boto3==1.36.12
google-api-core==2.24.1
google-cloud-texttospeech>=2.24.0
opencv-python 
pyaudio 
pillow
mss
google-genai